<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>



		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar" class="active">
				<h1><a href="index.html" class="logo">OL</a></h1>
        <ul class="list-unstyled components mb-5">

          <li class="active">
            <a routerLink="/sidebar/construccion" href="#"><span class="fa fa-calendar"></span> <p *ngIf="verNombre" style="display: inline;">Programación</p></a>
          </li>
          <li>
              <a routerLink="/sidebar/construccion" href="#"><span class="fa fa-tasks"></span> <p *ngIf="verNombre" style="display: inline;">Gestión de operaciones</p></a>
          </li>
          <li>
            <a routerLink="/sidebar/construccion" href="#"><span class="fa fa-user-circle-o"></span> <p *ngIf="verNombre" style="display: inline;">Perfiles</p></a>
          </li>
          <li>
            <a routerLink="/sidebar/roles" href="#"><span class="fa fa-users"></span> <p *ngIf="verNombre" style="display: inline;">Roles</p></a>
          </li>
          <li>
            <a routerLink="/sidebar/usuario" href="#"><span class="fa fa-search"></span> <p *ngIf="verNombre" style="display: inline;">Usuario</p></a>
          </li>
          <li>
            <a routerLink="/sidebar/construccion" href="#"><span class="fa fa-book"></span> <p *ngIf="verNombre" style="display: inline;">Reportes</p></a>
          </li>
        </ul>

        <div class="footer">
        	<p>
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="icon-heart" aria-hidden="true"></i> OLSoftware
					</p>
        </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" >

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div>

            <button (click)="cambiarEstado()" type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i> 
            </button>
            <p class="titulo" style="display: inline;">Prueba Front-end</p>
           
          </div>
        </nav>
        
        <!--Boton Salida-->
        <div class="exit">
          {{nombreLogin}} &nbsp;&nbsp;
          <a href="/src/app/components/login/login.component.html" style="color: #004085;">Salir</a>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#004085" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
          <path d="M7 12h14l-3 -3m0 6l3 -3" />
        </svg>
      </div>
        <router-outlet></router-outlet>
      </div>
		</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

 

  </body>
		
</html>